.super{
    display: flex;
    margin-top: 100px;
}
.mp-container{
    width:10%;
    background-image: url(img/sidebar-bg.png);
    background-color: black;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    
    
}
.ms-container{
    width:90%;
}

.my-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.classi{
    vertical-align: middle;
}
.avatar{
    width: 5%;
    vertical-align: middle;
}
.stats{
    width: 100%;
}
.mobile-logo{
    width: 50px;
    display: none;
    height: 50px;
    
}
ul{
    list-style: none;
}
.as-container a{
    text-decoration: none;
}
.button{
   font-size: 10px; 
}
button{
    border-color:white ;
}
.as-container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}





@media screen and (max-width:992px){
    
    .fa-bars,.fa-circle-question,.logo{
        display: none;
    }
    .mobile-logo{
        display: block;
        
    }
}
