.super{
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    
}


.mp-container{
    width:10%;
    background-image: url(img/sidebar-bg.png);
    background-color: black;
    
}
.ms-container{
    width:90%;
}

.my-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.classi{
    vertical-align: middle;
}
.avatar{
    width: 5%;
    vertical-align: middle;
}
.stats{
    width: 100%;
}
.mobile-logo{
    display: none;
}





@media screen and (max-width:540px){
    .first{
        display: flex;
        flex-direction: column-reverse;
    }
    .fa-bars,.fa-circle-question,.logo{
        display: none;
    }
    .mobile-logo{
        display: block;
        width: 100%;
    }
}
